.classification {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(30, 30, 30, 0.9);
  backdrop-filter: blur(18px);
  height: 56px;
  position: fixed;
  top: 66px;
  width: calc(100% - 100px);
  z-index: 3000;
}

.classification div {
  display: inline-block;
  margin: 10px 6px;
  padding: 8px 12px;
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
  cursor: pointer;
}

.classification div.active {
  background-color: rgb(255, 255, 255);
  color: black;
}