body {
  padding-top: 145px;
  padding-left: 100px;
  margin: 0;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-bottom: 3000px;
  width: calc(100% - 110px);
  
}

p {
  font-family: "Roboto", sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* 自定義滾動條樣式 */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: lightgray;
}

