

.header {
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0px;
  left: 0;
  right: 0;

  background-color: rgba(30, 30, 30, 0.9);
  backdrop-filter: blur(18px);
  border-bottom: 1px solid rgba(30, 30, 30);
  z-index: 4000;

}

.left-section {
  display: flex;
  align-items: center;
  
}

.menu-container {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 19px;
}

.menu-logo {
  width: 26px;
  filter: invert(1);
}



.premium-logo {
  width: 120px;
  margin: 18px;
  margin-left: 15px;
}

.mid-section {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex: 1;
  
  justify-content: center;
  align-items: center;
  max-width: 700px;
}

.search-bar {
  flex: 1;
  display: block;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
  padding-left: 15px;
  border-radius: 20px;
  color: white;
  background-color: rgb(30, 30, 30);
  border: 0px;
  width: 0;
}

.search-bar::placeholder {
  font-size: 14px;
  color: rgb(128, 122, 122);
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
}

.search-btn {
  width: 60px;
  height: 44px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  background-color: rgb(67, 66, 66);
  border-radius: 0 50% 50% 0;
  margin-left: -28px;
}

.search-icon {
  height: 25px;
  margin-right: 5px;
  filter: invert(1);
}

.mic-btn {
  width: 40px;
  height: 40px;
  border: 0px;
  padding: 0px;
  margin: 0px;
  background-color: rgb(30, 30, 30);
  border-radius: 50%;
  margin-left: 15px;
  position: relative;
}

.mic-btn:hover {
  background-color: rgb(40, 40, 40);
}

.mic-icon {
  
  height: 30px;
}

.mi-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mic-btn .tooltip {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 370;
  color: rgb(232, 229, 229);
  margin-top: 2px;
  position: absolute;
  background-color: rgb(75, 72, 72);
  width: 80px;
  top: 45px;
  left: 50%;
  padding: 8px 5px;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 10px;
  z-index: 4000;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}

.mic-btn:hover .tooltip {
  opacity: 1;
}

.right-section {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  flex-shrink: 0;
}

.upl-icon {
  height: 30px;
  margin: 20px;
  margin-right: 15px;
  border-radius: 25%;
}

.rin-icon {
  height: 26px;
  margin: 20px;
  margin-right: 15px;
  border-radius: 50%;
  padding: 5px;
  filter: invert(1);  /* make icon white */
}

.ring-container {
  position: relative;
}

.notify-count {
  position: absolute;
  top: 18px;
  right: 14px;
  background-color: red;
  color: white;
  font-size: 12px;
  width: 16px;
  height: 16px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  border-radius: 50%;
  font-weight: 600;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-user-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 15px;
}

.menu-logo:hover, 
.current-user-pic:hover,
.upl-icon:hover,
.rin-icon:hover,
.mic-icon:hover,
.search-btn:hover,
.premium-logo:hover {
  cursor: pointer;
}


.rin-icon:hover {
  background-color: rgb(200, 198, 198);
}

.menu-container:hover {
  background-color: rgb(88, 87, 87);
}


