.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 65px;
  background-color: rgb(0, 0, 0);
  width: 70px;
  margin: 0px;
  padding: 0px;
}

.sidebar-link {
  width: 64px;
  height: 74px;
  margin-left: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  color: white;
  cursor: pointer;
  z-index: 1000;
}

.sidebar-link:hover {
  background-color: rgb(30, 30, 30);
}

.sidebar-link img {
  height: 24px;
  color: white;
  filter: invert(1);
}

.sidebar-link div {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 4px;
  text-align: center;
}